# Project

# Final Project - Analyzing Sales Data

**Date**: 30 December 2021

**Author**: Khunphut Prakanrattana

**Course**: `Pandas Foundation`

In [1]:
# import data
import pandas as pd
df = pd.read_csv("sample-store.csv")

In [130]:
# preview top 5 rows
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2019-138688,2019-06-12,2019-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2018-108966,2018-10-11,2018-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2018-108966,2018-10-11,2018-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [3]:
# shape of dataframe
df.shape

(9994, 21)

In [4]:
# see data frame information using .info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   object
 3   Ship Date       9994 non-null   object
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Customer Name   9994 non-null   object
 7   Segment         9994 non-null   object
 8   Country/Region  9994 non-null   object
 9   City            9994 non-null   object
 10  State           9994 non-null   object
 11  Postal Code     9983 non-null   float64
 12  Region          9994 non-null   object
 13  Product ID      9994 non-null   object
 14  Category        9994 non-null   object
 15  Sub-Category    9994 non-null   object
 16  Product Name    9994 non-null   object
 17  Sales           9994 non-null   float64
 18  Quantity        9994 non-null   int64
 19  Discount        9994 non-null   float64
 20  Profit          9994 non-null   float64
dtypes: float64(4), int64(2), object(15)
memory usage: 1.6+ MB

We can use `pd.to_datetime()` function to convert columns 'Order Date' and 'Ship Date' to datetime.

In [5]:
# example of pd.to_datetime() function
pd.to_datetime(df['Order Date'].head(), format='%m/%d/%Y')

In [14]:
# TODO - convert order date and ship date to datetime in the original dataframe
df['Order Date']=pd.to_datetime(df['Order Date'], format='%m/%d/%Y')
df['Ship Date']=pd.to_datetime(df['Ship Date'], format='%m/%d/%Y')

In [24]:
# TODO - count nan in postal code column
df['Postal Code'].isna().sum()

11

In [25]:
# TODO - filter rows with missing values
df[df['Postal Code'].isna()]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2234,2235,CA-2020-104066,2020-12-05,2020-12-10,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,...,NaN,East,TEC-AC-10001013,Technology,Accessories,Logitech ClearChat Comfort/USB Headset H390,205.03,7,0.0,67.6599
5274,5275,CA-2018-162887,2018-11-07,2018-11-09,Second Class,SV-20785,Stewart Visinsky,Consumer,United States,Burlington,...,NaN,East,FUR-CH-10000595,Furniture,Chairs,Safco Contoured Stacking Chairs,715.20,3,0.0,178.8000
8798,8799,US-2019-150140,2019-04-06,2019-04-10,Standard Class,VM-21685,Valerie Mitchum,Home Office,United States,Burlington,...,NaN,East,TEC-PH-10002555,Technology,Phones,Nortel Meridian M5316 Digital phone,1294.75,5,0.0,336.6350
9146,9147,US-2019-165505,2019-01-23,2019-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,...,NaN,East,TEC-AC-10002926,Technology,Accessories,Logitech Wireless Marathon Mouse M705,99.98,2,0.0,42.9914
9147,9148,US-2019-165505,2019-01-23,2019-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,...,NaN,East,OFF-AR-10003477,Office Supplies,Art,4009 Highlighters,8.04,6,0.0,2.7336
9148,9149,US-2019-165505,2019-01-23,2019-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,...,NaN,East,OFF-ST-10001526,Office Supplies,Storage,Iceberg Mobile Mega Data/Printer Cart,1564.29,13,0.0,406.7154
9386,9387,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-PA-10000157,Office Supplies,Paper,Xerox 191,79.92,4,0.0,37.5624
9387,9388,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,12.28,1,0.0,5.7716
9388,9389,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-AP-10000828,Office Supplies,Appliances,Avanti 4.4 Cu. Ft. Refrigerator,542.94,3,0.0,152.0232
9389,9390,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-EN-10001509,Office Supplies,Envelopes,Poly String Tie Envelopes,2.04,1,0.0,0.9588
9741,9742,CA-2018-117086,2018-11-08,2018-11-12,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,...,NaN,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",4404.90,5,0.0,1013.1270

In [26]:
# TODO - Explore this dataset on your owns, ask your own questions
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9983.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55245.233297,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32038.715955,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,57103.000000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

## Data Analysis Part

Answer 10 below questions to get credit from this course. Write `pandas` code to find answers.

In [32]:
# TODO 01 - how many columns, rows in this dataset
columns = df.shape[1]
rows = df.shape[0]
print(f"colums = {columns} and rows = {rows}")

colums = 21 and rows = 9994

In [48]:
# TODO 02 - is there any missing values?, if there is, which colunm? how many nan values?
miss=df.isna().sum()[df.isna().sum()!=0]
print(miss)

Postal Code    11
dtype: int64

In [60]:
# TODO 03 - your friend ask for `California` data, filter it and export csv for him
ca=df[df['State']=='California']
ca.to_csv('California.csv')

In [75]:
# TODO 04 - your friend ask for all order data in `California` and `Texas` in 2017 (look at Order Date), send him csv file
ta=df[((df['State']=='California') | (df['State']=='Texas')) & (pd.DatetimeIndex(df['Order Date']).year==2017)]
ta.to_csv('California_Texas_in2017.csv')

In [95]:
# TODO 05 - how much total sales, average sales, and standard deviation of sales your company make in 2017
AG=df[pd.DatetimeIndex(df['Order Date']).year==2017]
S1=AG['Sales'].sum()
S2=AG['Sales'].mean()
S3=AG['Sales'].std()
print(f'total sales= {S1} , average sales= {S2} and standard deviation of sales = {S3}')

total sales= 484247.4981 , average sales= 242.97415860511836 and standard deviation of sales = 754.0533572593688

In [128]:
# TODO 06 - which Segment has the highest profit in 2018
SE=df[pd.DatetimeIndex(df['Order Date']).year==2018]
SES=SE.groupby(['Segment'])['Profit'].agg('sum').sort_values(ascending=False)
Segment=SES.index[0]
Profit=SES[0]
print(f'Segment {Segment} has the highest profit in 2018 = {Profit}')

Segment Consumer has the highest profit in 2018 = 28460.1665

In [147]:
# TODO 07 - which top 5 States have the least total sales between 15 April 2019 - 31 December 2019
SA=df[(df['Order Date'] >= '2019-4-15') & (df['Order Date'] <= '2019-12-31')]
SA.groupby(['State'])['Sales'].sum().sort_values(ascending=False).head(5)

In [161]:
# TODO 08 - what is the proportion of total sales (%) in West + Central in 2019 e.g. 25% 
total=df['Sales'].sum()
wc=df[((df['Region']=='West') | (df['Region']=='Central')) & (pd.DatetimeIndex(df['Order Date']).year==2019)]['Sales'].sum()
pop=wc/total*100
print(f'proportion of total sales (%) in West + Central in 2019 = {pop} %')

proportion of total sales (%) in West + Central in 2019 = 14.579027819807749 %

In [186]:
# TODO 09 - find top 10 popular products in terms of number of orders vs. total sales during 2019-2020
po=df[(pd.DatetimeIndex(df['Order Date']).year==2019) | (pd.DatetimeIndex(df['Order Date']).year==2020)]\
    [['Product Name','Sales','Quantity']]
pog=po.groupby(['Product Name']).sum()
sale=pog.sort_values('Sales',ascending=False).head(10)
quantity=pog.sort_values('Quantity',ascending=False).head(10)
print('top 10 popular products in number of orders = ',quantity.index.tolist(),'\n'\
    ,'top 10 popular products in total sales = ',sale.index.tolist())

top 10 popular products in number of orders =  ['Staples', 'Easy-staple paper', 'Staple envelope', 'Staples in misc. colors', 'Chromcraft Round Conference Tables', 'Storex Dura Pro Binders', 'Situations Contoured Folding Chairs, 4/Set', 'Wilson Jones Clip & Carry Folder Binder Tool for Ring Binders, Clear', 'Avery Non-Stick Binders', 'Eldon Wave Desk Accessories']
 top 10 popular products in total sales =  ['Canon imageCLASS 2200 Advanced Copier', 'Hewlett Packard LaserJet 3310 Copier', '3D Systems Cube Printer, 2nd Generation, Magenta', 'GBC Ibimaster 500 Manual ProClick Binding System', 'GBC DocuBind TL300 Electric Binding System', 'GBC DocuBind P400 Electric Binding System', 'Samsung Galaxy Mega 6.3', 'HON 5400 Series Task Chairs for Big and Tall', 'Martin Yale Chadless Opener Electric Letter Opener', 'Global Troy Executive Leather Low-Back Tilter']

In [200]:
# TODO 10 - plot at least 2 plots, any plot you think interesting :)
df['Category'].value_counts().plot(kind='pie')

In [233]:
df['year']=pd.DatetimeIndex(df['Order Date']).year
df.groupby(['year'])['Sales'].sum().plot.line(color='red')

In [239]:
# TODO Bonus - use np.where() to create new column in dataframe to help you answer your own questions
import numpy as np
df['new_columns']=np.where(df['Profit']>=0,'profit','loss')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,year,new_columns
0,1,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,2019,profit
1,2,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,2019,profit
2,3,CA-2019-138688,2019-06-12,2019-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,2019,profit
3,4,US-2018-108966,2018-10-11,2018-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,2018,loss
4,5,US-2018-108966,2018-10-11,2018-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,2018,profit